In [103]:
# HeroesOfPymoli
import pandas as pd

In [101]:
file_to_load = "Resources/purchase_data.csv"

In [111]:
df = pd.read_csv("purchase_data.csv")
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [134]:
total_players_final = pd.DataFrame({"Total Players": [uniqueplayers]}, columns= ["Total Players"])
total_players_final

   Total Players
0            576

In [135]:
#Purchasing Analysis (Total)
#Number of Unique Items
#Average Purchase Price
#Total Number of Purchases
#Total Revenue
uniqueitems = df['Item ID'].nunique()
avg_price = (df['Price'].sum()/df['Price'].count()).round(2)
total_purchases = df['Price'].count()
total_revenue = df["Price"].sum()

total_analysis_df = pd.DataFrame({"Number of Unique Items": [uniqueitems], 
                              "Average Purchase Price": [avg_price],
                             "Number of Purchases": [total_purchases],
                             "Total Revenue": [total_revenue]}, columns= ["Number of Unique Items", "Average Purchase Price",
                            "Number of Purchases", "Total Revenue"])

total_analysis_df.style.format({"Average Purchase Price": "${:.2f}", "Total Revenue": "${:.2f}"})

In [129]:
#Gender Demographics
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed
full_count = df["SN"].nunique()
male_count = df[df["Gender"] == "Male"]["SN"].nunique()
femal_ecount = df[df["Gender"] == "Female"]["SN"].nunique()
other_count = fullcount - malecount - femalecount
male_perc = ((malecount/fullcount)*100)
female_perc = ((femalecount/fullcount)*100)
other_perc = ((othercount/fullcount)*100)

gender_demo_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], "Percentage of Players": [maleperc, femaleperc, otherperc],
                                        "Total Count": [malecount, femalecount, othercount]}, columns = 
                                        ["Gender", "Percentage of Players", "Total Count"])
                                        
gender_demo_final = gender_demo_df.set_index("Gender")
gender_demo_final.style.format({"Percentage of Players": "{:.2f}%"})

In [132]:
#Purchasing Analysis (Gender)
#The below each broken by gender
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Gender
male_purch = df[df["Gender"] == "Male"]["Price"].count()
female_purch = df[df["Gender"] == "Female"]["Price"].count()
other_purch = totalpurchases - malepurch - femalepurch
mprice_avg = df[df["Gender"] == "Male"]['Price'].mean()
fprice_avg = df[df["Gender"] == "Female"]['Price'].mean()
oprice_avg = df[df["Gender"] == "Other / Non-Disclosed"]['Price'].mean()
mprice_tot = df[df["Gender"] == "Male"]['Price'].sum()
fprice_tot = df[df["Gender"] == "Female"]['Price'].sum()
oprice_tot = df[df["Gender"] == "Other / Non-Disclosed"]['Price'].sum()
mnorm = mpricetot/malecount
fnorm = fpricetot/femalecount
onorm = opricetot/othercount

gender_purchase_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], "Purchase Count": [malepurch, femalepurch, otherpurch],
                                        "Average Purchase Price": [mpriceavg, fpriceavg, opriceavg], "Total Purchase Value": [mpricetot, fpricetot, opricetot],
                                "Normalized Totals": [mnorm, fnorm, onorm]}, columns = 
                                        ["Gender", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"])
                                        
gender_purchase_final = gender_purchase_df.set_index("Gender")
gender_purchase_final.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}", "Normalized Totals": "${:.2f}"})

In [118]:
#Age Demographics
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group
tenyears = df[df["Age"] <10]
loteens = df[(df["Age"] >=10) & (df["Age"] <=14)]
hiteens = df[(df["Age"] >=15) & (df["Age"] <=19)]
lotwent = df[(df["Age"] >=20) & (df["Age"] <=24)]
hitwent = df[(df["Age"] >=25) & (df["Age"] <=29)]
lothirt = df[(df["Age"] >=30) & (df["Age"] <=34)]
hithirt = df[(df["Age"] >=35) & (df["Age"] <=39)]
loforty = df[(df["Age"] >=40) & (df["Age"] <=44)]
hiforty = df[(df["Age"] >=45) & (df["Age"] <=49)]

age_demo_df = pd.DataFrame({"Age": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", "45-49"],
                        "Percentage of Players": [(tenyears["SN"].nunique()/fullcount)*100, (loteens["SN"].nunique()/fullcount)*100, (hiteens["SN"].nunique()/fullcount)*100, (lotwent["SN"].nunique()/fullcount)*100, (hitwent["SN"].nunique()/fullcount)*100, (lothirt["SN"].nunique()/fullcount)*100, (hithirt["SN"].nunique()/fullcount)*100, (loforty["SN"].nunique()/fullcount)*100, (hiforty["SN"].nunique()/fullcount)*100],
                        "Total Count": [tenyears["SN"].nunique(), loteens["SN"].nunique(), hiteens["SN"].nunique(), lotwent["SN"].nunique(), hitwent["SN"].nunique(), lothirt["SN"].nunique(), hithirt["SN"].nunique(), loforty["SN"].nunique(), hiforty["SN"].nunique()]
                       })

age_demo_final = age_demo_df.set_index("Age")
age_demo_final.style.format({"Percentage of Players": "{:.2f}%"})

In [120]:
#Top Spenders
#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#SN
#Purchase Count
#Average Purchase Price
#Total Purchase Value
sn_total_purchase = df.groupby('SN')['Price'].sum().to_frame()
sn_purchase_count = df.groupby('SN')['Price'].count().to_frame()
sn_purchase_avg = df.groupby('SN')['Price'].mean().to_frame()

sn_total_purchase.columns=["Total Purchase Value"]
join_one = sn_total_purchase.join(sn_purchase_count, how="left")
join_one.columns=["Total Purchase Value", "Purchase Count"]

join_two = join_one.join(sn_purchase_avg, how="inner")
join_two.columns=["Total Purchase Value", "Purchase Count", "Average Purchase Price"]

top_spenders_df = join_two[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
top_spenders_final = top_spenders_df.sort_values('Total Purchase Value', ascending=False).head()
top_spenders_final.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

In [121]:
#Most Popular Items
#Identify the 5 most popular items by purchase count, then list (in a table):
#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

premergeone = df.groupby("Item Name").sum().reset_index()
premergetwo = df.groupby("Item ID").sum().reset_index()
premergethree = df.groupby("Item Name").count().reset_index()

mergeone = pd.merge(premergeone, premergetwo, on="Price")
mergetwo = pd.merge(premergethree, mergeone, on="Item Name")

mergetwo["Gender"] = (mergetwo["Price_y"]/mergetwo["Item ID"]).round(2)

mergetwo_renamed = mergetwo.rename(columns={"Age": "Purchase Count", "Gender": "Item Price", "Item ID": "null", "Price_y": "Total Purchase Value", "Item ID_y": "Item ID"})

clean_df = mergetwo_renamed[["Item ID", "Item Name", "Purchase Count", "Item Price", "Total Purchase Value"]]

prefinal_df = clean_df.set_index(['Item Name', 'Item ID'])
popular_items_final = prefinal_df.sort_values('Purchase Count', ascending=False).head(6)
popular_items_final.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

In [122]:
#Most Profitable Items
#Identify the 5 most profitable items by total purchase value, then list (in a table):

#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

#use prefinal dataframe from prior to step to find most profitable items

profit_items_final = prefinal_df.sort_values('Total Purchase Value', ascending=False).head()
profit_items_final.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

In [136]:
#TENDENCIAS
# En cuanto a edad demográfica se puede ver que el casí el 45% de los 
   #jugadores activos se encuentran entre los 20 y 24 años.
# De los 576 jugadores activos la gran mayoria son del genero masculino 
   #con un 84% aportando casi $2000 del valor total de compra.
# El producto más vendido es el Oathbreaker y tambien es el más rentable.